$red: #ff6d60;
$light-red: #f88479;
$yellow: #e8be40;
$light-yellow: #f3e99f;
$light-green: #98d8aa;
$black: #27374d;
$white: #f8f6f4;
$dark-green: #1f8a70;
$focus-dark-green: #2cbb97;
$light-blue: #53aaf7;
$light-white: #fcfcfc;
$brown: #876445;
$grey: #1f2c3d;
$blue: #1f90f3;
